<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VocMaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20C06C0C1DB8EE9900C8CF56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20C06C201DB8EE9A00C8CF56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20C06C2B1DB8EE9A00C8CF56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
